@import '../../scss/variables.scss';

.about {
  min-height: 90vh;
  color: white;
  background-image: url(../../assets/images/noise-pattern.png);
  border-top: 2px solid rgba(252, 238, 10, .1);

  &::before {
    content: '';
    width: 100%;
    height: 88px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../assets/images/noise-pattern.png);
  }

  .section1 {
    position: relative;
    min-height: 70vh;
    padding-top: 70px;
    padding-bottom: 84px;
    overflow: hidden;

    &::after {
      background-image: url('../../assets/images/yel-razor-bot.svg');
      bottom: -20px;
      content: "";
      height: 20px;
      left: 0;
      position: absolute;
      width: 100%;
      transform: rotate(180deg);
    }

    .left {
      padding-left: 30px !important;

      .content {
        padding: 30px;
        background: linear-gradient(90deg, $mColor 2px, transparent 0) 0 0, linear-gradient(90deg, $mColor 2px, transparent 0) 0 100%, linear-gradient(270deg, $mColor 2px, transparent 0) 100% 0, linear-gradient(270deg, $mColor 2px, transparent 0) 100% 100%, linear-gradient(180deg, $mColor 2px, transparent 0) 0 0, linear-gradient(180deg, $mColor 2px, transparent 0) 100% 0, linear-gradient(0deg, $mColor 2px, transparent 0) 0 100%, linear-gradient(0deg, $mColor 2px, transparent 0) 100% 100%;
        background-repeat: no-repeat;
        background-size: 28px 28px;

        .text {
          @include fontSettings($mFont, 20px, 400);
          line-height: 23px;

          p {
            padding-top: 10px;
          }

        }

        .diploma-btn {
          color: $mColor2;
          margin-left: 10px;
        }

        .collapse {

          .card-body {
            border: 2px solid $mColor2;
            border-radius: 0;
          }
        }

      }
    }

    .right {
      display: flex;
      justify-content: center;

      img {
        width: 400px;
        height: 500px;
        object-fit: cover;
        clip-path: polygon(10% 0%, 100% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 100%, 0% 10%);
        border-top: 3px solid $mColor2;
        border-right: 3px solid $mColor2;
        border-bottom: 4px solid $mColor;
        border-left: 4px solid $mColor;
      }
    }
  }

  .section2 {
    padding-bottom: 60px;

    .tech {
      padding-bottom: 50px;

      .title {
        display: flex;
        justify-content: center;
        padding-top: 80px;
        padding-bottom: 30px;
      }
    }

    .tools {
      .title {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
      }
    }

    .techCont,
    .toolsCont {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0 200px;
    }
  }

}