@import '../../scss/variables.scss';

.contacts {
  min-height: 85vh;

  &__bgCanvas {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    border-bottom: 3px black solid;
  }

  &__content {
    padding: 30px;

    @media (max-width: 400px) {
      padding: 10px;
    }
  }

  .dev-item {
    height: max-content;
    background-color: rgb(255, 255, 255, .8);
    padding: 10px 40px 10px 10px;
    transition: .5s all;
    clip-path: polygon(0 0, 100% 0, 100% 65%, 65% 100%, 0 100%, 0% 50%);
    border-top: 5px solid $mColor2;
    border-right: 5px solid $mColor2;
    border-bottom: 5px solid $mColor;
    border-left: 20px solid $mColor;
    font-family: $mFont2;
    position: relative;

    @media (max-width: 768px) {
      clip-path: none;
      padding: 10px;
      overflow-x: scroll;
    }

    .mail-wrap {
      word-break: break-all;

      .mail-icon {
        @media (max-width: 768px) {
          display: none;
        }
      }

      .copy-email {
        position: absolute;
        top: 15px;
        right: 0;
        padding: 10px 10px 10px 100%;

        @media (max-width: 768px) {
          display: none;
        }
      }
    }


    &:hover {
      border-top: 5px solid $mColor;
      border-right: 5px solid $mColor;
      border-bottom: 5px solid $mColor3;
      border-left: 20px solid $mColor3;
      transition: all .5s;
    }

    .github-btn {
      width: 80%;
    }

    .linkedin-btn {
      width: 50%;
    }

  }

  .googleMapWrap {
    padding-left: 50px;
    padding-right: 0px;

    @media (max-width: 1200px) {
      height: 300px;
      padding-left: 0;
      padding-top: 30px;
    }

    iframe {
      width: 100%;
      height: 60vh;

      @media (max-width: 1200px) {
        height: 300px;
        padding-left: 0;
      }
    }
  }
}