@import '../../scss/variables.scss';

.home {
  color: white;

  &__bgCanvas {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    border-bottom: 3px black solid;
  }

  .hero {
    width: 100%;
    min-height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::after {
      background-image: url('../../assets/images/yel-razor-bot.svg');
      bottom: -20px;
      content: "";
      height: 20px;
      left: 0;
      position: absolute;
      width: 100%;
      transform: rotate(180deg);
    }

    .greetings__wrap {
      width: 100%;
      border-bottom: 2px solid rgba(252, 238, 10, .1);
      border-top: 2px solid rgba(252, 238, 10, .1);
    }

    .greetings {
      width: 50%;
      margin: 0 auto;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 30px;
      position: relative;

      background: linear-gradient(90deg, #fcee0a 2px, transparent 0) 0 0, linear-gradient(90deg, #fcee0a 2px, transparent 0) 0 100%, linear-gradient(270deg, #fcee0a 2px, transparent 0) 100% 0, linear-gradient(270deg, #fcee0a 2px, transparent 0) 100% 100%, linear-gradient(180deg, #fcee0a 2px, transparent 0) 0 0, linear-gradient(180deg, #fcee0a 2px, transparent 0) 100% 0, linear-gradient(0deg, #fcee0a 2px, transparent 0) 0 100%, linear-gradient(0deg, #fcee0a 2px, transparent 0) 100% 100%;
      background-repeat: no-repeat;
      background-size: 28px 28px;

      .title {
        @include fontSettings($mFont, 50px, 400);
        line-height: 53px;
      }

      .suptitle {
        @include fontSettings($mFont2, 42px, 400);
        line-height: 47px;
        padding-top: 20px;
      }
    }

  }

  .shortAbout {
    background-image: url(../../assets/images/noise-pattern.png);
    height: 50vh;
    --bs-gutter-x: 0;

    display: flex;
    align-items: center;
  }


}