@import '../../scss/variables.scss';

.header {
  background-color: mix($primaryСolor, rgba(0, 0, 0, 0.1), 30%);
  color: $mColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $mFont;
  padding: 5px 20px;
  z-index: 1;
  position: relative;

  @media (max-width: 400px) {
    padding: 5px 10px;
  }

  // .logo in index.scss

  &__mobileBtn {
    background-color: $mColor;
  }

  &__nav {
    position: relative;
    width: 200px;
    display: flex;
    justify-content: right;
    transition: .5s all;

    @media (max-width: 992px) {
      padding: 10px 0;
      position: absolute;
      width: 90%;
      top: 75px;
      left: 50%;
      transform: translateX(-50%);

      @media (max-width: 500px) {
        top: 45px;
      }
    }

    .menu {
      clip-path: polygon(16px 0, 100% 0, 100% 30px, calc(100% - 18px) 48px, calc(100% - 18px) 2000%, 0 2000%, 0 16px);
      position: relative;

      @media (max-width: 992px) {
        width: 100%;
        clip-path: polygon(20% 0%, 100% 0, 100% 0, 100% 80%, 80% 100%, 0 100%, 0 100%, 0% 20%);
      }
    }

    .menu:before {
      backdrop-filter: blur(8px);
      content: "";
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    .menu-list {
      align-items: center;
      background: rgba(0, 0, 0, .6);
      border: 1px solid $mColor;
      display: flex;
      height: 48px;
      list-style: none;
      margin: 0;
      padding: 0 0 0 24px;

      @media (max-width: 992px) {
        width: 100%;
        height: 100%;
        flex-direction: column;
        padding: 0;
        position: relative;
        z-index: 5;
      }

    }

    .menu-list:before {
      border-right: 18px solid transparent;
      border-top: 18px solid $mColor;
      content: "";
      left: 0;
      position: absolute;
      top: 0;
    }

    .menu-list:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      border-left: 20px solid transparent;
      border-bottom: 20px solid $mColor;
    }

    .menu-item {
      align-items: center;
      color: #fff;
      cursor: pointer;
      display: flex;
      font-family: $mFont, sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      height: 100%;
      line-height: 110%;
      position: relative;
      text-transform: uppercase;
      transition: all .3s;

      @media (max-width: 992px) {
        width: 100%;
      }

      &:hover {
        transition: all .3s;
        background: $mColor;
        color: #000
      }

      & a,
      span,
      button {
        height: 100%;
        width: 100%;
        padding: 0 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 992px) {
          padding: 15px 0;
        }
      }

      a.active {
        background-color: $mColor;
        color: #000;
      }
    }

    .menu-item-fill {
      background: $mColor;
      color: #000;
      font-family: $mFont, sans-serif;
      font-weight: 700;
      min-width: 168px;
      text-align: center;

      a {
        width: 100%
      }
    }

    .menu-item-lang {
      border-left: 1px solid $mColor;
      border-right: 1px solid $mColor;

      @media (max-width: 992px) {
        order: 5;
        border-left: 0;
        border-right: 0;
      }

      &:hover .menu-sub-list {
        transition: all .3s;
        display: flex;
      }

      .menu-sub-list {
        column-count: 2;
        left: auto;
        right: 0;
        padding: 0 10px;
      }
    }

    .menu-sub {
      align-items: center;
      position: relative;

      &:after {
        // small triangle
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 6px solid #fff;
        content: "";
        display: block;
        height: 6px;
        margin-left: 4px;
        position: relative;
        width: 8px;
      }
    }

    .menu-item:hover .menu-sub:after {
      // small triangle
      border-top: 6px solid #000
    }

    .menu-sub-list {
      backdrop-filter: blur(8px);
      background: rgba(0, 0, 0, .4);
      border: 1px solid $mColor;
      border-top: 8px solid $mColor;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .25), 0 2px 16px rgba(0, 0, 0, .25);
      clip-path: inset(0 -16px -16px -16px);
      display: none;
      flex-direction: column;
      list-style: none;
      margin: 0;
      padding: 10px 0;
      position: absolute;
      left: 0;
      top: calc(100% - 10px);

      @media (max-width: 992px) {
        width: 50%;
        top: -180%;
        z-index: 10;

        @media (max-width: 600px) {
          width: 80%;
        }

        @media (max-width: 300px) {
          width: 100%;
        }
      }

      li {
        align-items: center;
        background: transparent;
        color: #fff;
        display: flex;
        height: 44px;

        &:before {
          background: $mColor;
          content: "";
          height: 1px;
          margin-right: 11px;
          width: 12px;
        }

        &:hover {
          color: $mColor;
        }
      }
    }
  }
}